{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier mes informations</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <form action="{{ path('app_profil_edit') }}" method="post">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom :</label>
                <input type="text" id="nom" name="nom" class="form-control" value="{{ app.user.nom }}">
            </div>

            <div class="mb-3">
                <label for="prenom" class="form-label">Prénom :</label>
                <input type="text" id="prenom" name="prenom" class="form-control" value="{{ app.user.prenom }}">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email :</label>
                <input type="email" id="email" name="email" class="form-control" value="{{ app.user.email }}">
            </div>

            <div class="mb-3">
                <label for="ville" class="form-label">Ville :</label>
                <input type="ville" id="ville" name="ville" class="form-control" value="{{ app.user.ville }}">
            </div>
            <div class="mb-3">
                <label for="date_naissance" class="form-label">Date de naissance :</label>
                <input type="date" id="date_naissance" name="date_naissance" class="form-control" value="{{ app.user.dateNaissance|date('Y-m-d') }}">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe  :</label>
                <input type="password" id="password" name="password" class="form-control" value="{{ app.user.password }}">
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>
{% endblock %}
